@charset "utf-8";
@import "_mixins.scss";
@import "./compotents.css";

.agree-field{
    display: flex;
    flex-direction: column;
    gap:20px 0;
    & &__list{
        @include flex(center, center);
        flex-direction:column;
        gap:10px 0;
    }
}